@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body {

    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;


}

.btn {

    border-radius: 25px;

}

.new {
    font-size: 12px;
}

.card {

    padding: 20px;
    border: none;


}


.active {

    background: #f6f7fb !important;
    border-color: #f6f7fb !important;
    color: #000 !important;
    font-size: 12px;

}

.inputs {

    position: relative;

}

.form-control {
    text-indent: 15px;
    border: none;
    height: 45px;
    border-radius: 0px;
    border-bottom: 1px solid #eee;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #eee;
    outline: 0;
    box-shadow: none;
    border-bottom: 1px solid blue;
}


.form-control:focus {
    color: blue;
}

.inputs i {

    position: absolute;
    top: 14px;
    left: 4px;
    color: #b8b9bc;
}

.star {

    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    margin-right: 10px;
    border-radius: 5px;

}

.time-text {

    font-size: 12px;
    color: #989898;
}

.dots {

    height: 7px;
    width: 7px;
    background-color: #eee;
    display: flex;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
}

.yellow {

    color: #ffab2e;
}

.content-text-1 {

    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffe7cc;
    color: #ffa03a;
    font-weight: 700;

}


.blue {

    color: #6ecce6;
}


.content-text-2 {

    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e2f5fa;
    color: #6ecce6;
    font-weight: 700;

}


.dark-blue {

    color: #572ce8;
}


.content-text-3 {

    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #572ce86b;
    color: #572ce8;
    font-weight: 700;

}

body {
    background-color: #5165ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}




.modal-body {
    background-color: #5165ff;
    border-color: #5165ff;
}

.intro-1 {
    font-size: 20px
}

.close {
    color: #fff
}

.close:hover {
    color: #fff
}

.intro-2 {
    font-size: 13px
}

.btn-primary {
    color: #5165ff;
    background-color: #fffaff;
    border-color: #fffaff;
    padding: 12px;
    font-weight: 700;
    border-radius: 41px;
    padding-right: 20px;
    padding-left: 20px;
}

























/* form css */
body {
    font-family: 'Lato', sans-serif;
}

h1 {
    margin-bottom: 40px;
}

label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.card{
	margin-left: 10px;
	margin-right: 10px;
}
