{% extends './base.html' %}
{% load static %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/home.css'%}">
{% endblock head %}




{% block body %}
<main class="site-wrapper">
    <div class="pt-table desktop-768">
        <div class="pt-tablecell page-home relative" style="background-image: url(https://images.unsplash.com/photo-1486870591958-9b9d0d1dda99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
      background-position: center;
      background-size: cover;">
            <div class="overlay"></div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                        <div class="page-title  home text-center">
                            <span class="heading-page"> Welcome to CSPTS
                            </span>

                        </div>

                        <div class="hexagon-menu clear">
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>

                                {% if request.user.is_authenticated %}
                                <a href="{% url 'logout'%}" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-universal-access"></i>
                                        </span>
                                        <span class="title">Logout</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                                {% else %}

                                <a href="{% url 'login'%}" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-universal-access"></i>
                                        </span>
                                        <span class="title">Login</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>

                                {% endif %}



                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a href="{% url 'reports'%}" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-bullseye"></i>
                                        </span>
                                        <span class="title">Reports</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a href="{% url 'fir'%}" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-braille"></i>
                                        </span>
                                        <span class="title">FIR</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="hexagon-item">
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="hex-item">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <a href="{% url 'status'%}" class="hex-content">
                                    <span class="hex-content-inner">
                                        <span class="icon">
                                            <i class="fa fa-id-badge"></i>
                                        </span>
                                        <span class="title">Status</span>
                                    </span>
                                    <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z"
                                            fill="#1e2530"></path>
                                    </svg>
                                </a>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}